<h2>Quicookアカウント有効化について</h2>

<p><%= @user.name %>様、下記のリンクからアカウントを有効化できます。</p>

<p><%= link_to "アカウントを有効化する", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %></p>